/* Make post title links bigger on list pages */
.list__item .list__title {
    font-size: 1.8rem;
    line-height: 1.3;
}

.list__item .list__title a {
    font-size: 3rem;
}

/* Hide all heading tags (h1-h4) in post previews on list pages */
.list__item .content h1,
.list__item .content h2,
.list__item .content h3,
.list__item .content h4 {
    display: none;
}

/* Also hide all headings in post excerpts */
.list__excerpt h1,
.list__excerpt h2,
.list__excerpt h3,
.list__excerpt h4 {
    display: none;
}
