name: Deploy Website

on:
  push:
    branches:
      - main
      - develop

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      # --- ÉTAPE DE BUILD CONDITIONNELLE ---
      
      - name: Build for Production (Cloudflare)
        if: github.ref == 'refs/heads/main'
        run: hugo --gc --minify --baseURL "https://blog.assad.fr/"

      - name: Build for Staging (GitHub Pages)
        if: github.ref == 'refs/heads/develop'
        run: hugo --gc --minify --baseURL "https://blog-test.assad.fr/"

      # --- ÉTAPE DE DÉPLOIEMENT CONDITIONNELLE ---

      - name: Deploy to Cloudflare Pages (Main)
        if: github.ref == 'refs/heads/main'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          # On ajoute --branch main
          command: pages deploy public --project-name=blog-arhuman-new --commit-dirty=true --branch=main

      - name: Deploy to Cloudflare Pages (Develop)
        if: github.ref == 'refs/heads/develop'
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          # On ajoute --branch develop
          command: pages deploy public --project-name=blog-arhuman-new --commit-dirty=true --branch=develop
